<!DOCTYPE html>
<html>
  <head>
    <title>Project2</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="top">

      <ul id="navlinks">
        <h1>OVERDUE</h1>
        <!-- <img src="LW.png" height="177" width="492"> -->
        <br>
        <br>
        <li class="first"><a href="lampworld.html">ABOUT</a></li>
        <li><a href="aboutus.html">MY BOOKS</a></li>
        <li><a href="StoreLocation.html">HISTORY</a></li>
        <li class="last"><a href="Contact Us.html">SETTINGS</a></li>
      </ul>
    </div>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <%= yield %>

    <ul id="footerlink">
      <li>Copyright @ 2016 OVERDUE Inc. All rights reserved.</li>
      <li>Designed by Noah Inness, Onyi Awani, Felix Amankwah</li>
      <li>CSC340 Khadija Stewart</li>
      <li class="last">Published 11/7/2016</li>
    </ul>
  </body>
</html>
